/* ================================= Fonts Styles =================================== */
/* ================================================================================== */

@font-face {
    font-family: 'Merriweather-Sans Bold';
    src: url('../fonts/MerriweatherSans/static/MerriweatherSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}