/* ================================ Footer Styles =================================== */
/* ================================================================================== */

/* Colores */
$OrginalBlue: #000d81;
$OriginalOrange: #df5925;
$whitegrey: #eff3f8;
$white: #ffffff;
$grey: #cccccc;
$cardColor: #24385b;
$cardColorHover: #40587c;
$fluorPink: #F433FF;
$fluorBlue: #1589FF;


.prefooter {
    margin-top: 60px;
    padding: 30px 0px 30px 0px;
    background: $cardColor;

    h3 {
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 100;
        font-size: 20px;
        color: $whitegrey;
        margin-bottom: 15px;
    }
    
    p {
        font-family: 'Roboto-Regular', sans-serif;
        font-weight: 100;
        font-size: 14px;
        color: $grey;
        margin-bottom: 8px;
    }

    i {
        padding-right: 15px;
    }

    .prefooter__links {
        ul {
            li {
                list-style: none;
                margin-bottom: 8px;
            }
            a {
                text-decoration: none;
                font-family: 'Roboto-Regular', sans-serif;
                font-weight: 100;
                font-size: 14px;
                color: $grey;
            }
            a:hover {
                color: $OriginalOrange;
            }
        }
    }
}

.footer {
    .info {
        font-family: 'Lato-Bold', sans-serif;
        font-size: 14px;
        padding: 10px;
        color: #ffffff;
        background: $OrginalBlue;
        text-align: center;

        .info__link {
            text-decoration: none;
            color: rgb(173, 255, 47);

        }
        .info__link:hover {
            color: $OriginalOrange;
            
        }
    }
}