/* ================================ Global Styles =================================== */
/* ================================================================================== */

/* Colores */
$OrginalBlue: #000d81;
$OriginalOrange: #df5925;
$whitegrey: #eff3f8;
$white: #ffffff;
$grey: #cccccc;
$cardColor: #24385b;
$cardColorHover: #40587c;
$fluorPink: #F433FF;
$fluorBlue: #1589FF;


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #121f3d;
}

.clearfix {
    clear: both;
    float: none;
}


/* === Scrollbar Design Navegacion === */
/* width */
.scrollbar-list::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.scrollbar-list::-webkit-scrollbar-track {
    background: transparent; 
}
/* Handle */
.scrollbar-list::-webkit-scrollbar-thumb {
    background: $OriginalOrange; 
}
/* Handle on hover */
.scrollbar-list::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/* === Overally Panel === */
.overally-panel {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9000;
    background: rgba(0,0,0,0.5);
}


.borderline {
    border: 3px solid #24385b;
    border-radius: 10px;
    padding: 15px 0px 15px 0px;
}


.active__link {
    color: $OriginalOrange !important;
}




/* === File + Col Control === */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex: 0 0 24%;
}

.col-2 {
    flex: 0 0 25%;
}

.col-3 {
    flex: 0 0 33%;
    width: 33%;
}

.col-6 {
    flex: 0 0 49%;
}

.col-10 {
    flex: 0 0 75%;
}

.col-12 {
    flex: 0 0 100%;
}

.card__link {
    text-decoration: none;
}

/* === Post Readin Flex === */
.row-reading {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* === Post Readin Flex === */
.row-deejays {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* === Post Readin Flex === */
.row-news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


.row-prefooter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/* === Scrollbar VIDEO Navegacion Iframe Section === */
/* width */
.scrollbar-videoframe::-webkit-scrollbar {
    width: 8px;
}
/* Track */
.scrollbar-videoframe::-webkit-scrollbar-track {
    background: transparent; 
}
/* Handle */
.scrollbar-videoframe::-webkit-scrollbar-thumb {
    background: $cardColorHover; 
}
/* Handle on hover */
.scrollbar-videoframe::-webkit-scrollbar-thumb:hover {
    background: #555; 
}