/* =================================== ViewPort ===================================== */
/* ================================================================================== */

/* Colores */
$OrginalBlue: #000d81;
$OriginalOrange: #df5925;
$whitegrey: #eff3f8;
$white: #ffffff;
$grey: #cccccc;
$cardColor: #24385b;
$cardColorHover: #40587c;
$fluorPink: #F433FF;
$fluorBlue: #1589FF;


/* viewport 900 */

@media (max-width:900px) {
    #header {
        padding: 0px 20px 0px 20px;
        
        .desk__list {
            display: none;
        }
        
        .bars {
            display: block;
        }
    }

    /* === File + Col Control === */
    .row {
        justify-content: space-evenly;
    }

    .col {
        flex: 0 0 45%;
    }

    .col-6 {
        flex: 0 0 100%;
    }

    /* === Post === */
    .reading {
        .row-reading {
            flex-direction: column;

            .article {
                flex-basis: 100%;
                margin-right: 0px;

                .title__article {
                    font-size: 0.9rem;
                }
            }
            .sidebar {
                max-width: 350px;
                display: flex;
                flex-direction: column;
                align-self: center;
                margin-left: 0px;
                margin-top: 20px;
            }
        }
    }

    /* === Card Deejays === */
    .cards__deejays {
        .deejay__card {
            flex-direction: column;

            .card__img {
                width: 100%;
                height: auto;
            }

            .card__info {
                margin-top: 20px;
                margin-left: 0px;
            }
        }
    }

    .col-3 {
        flex: 0 0 100%;
    }

    .news {
        .card__new {
            margin-bottom: 20px;
        }
        .card__new:last-child {
            margin-bottom: 0px;
        }
    }

    /* === Learning === */
    .learning {
        .video__learning {
            flex-basis: 50%;
            .video {
                .frame {
                    height: 300px;
                }
                .material__info {
                    padding: 20px;
                }
            }
        }

        .video__list {
            flex-basis: 50%;
        }
    }

    /* === PreFooter === */
    .prefooter {
        text-align: center;
        .prefooter__contacto{
            margin-top: 20px;
        }
        .prefooter__links {
            margin-top: 20px;
        }
    }
}


/* viewport 576 */
@media (max-width:576px) {
    /* === File + Col Control === */
    .row {
        justify-content: space-between;
    }

    .col {
        flex: 0 0 100%;
    }

    /* === Search Section === */
    .search {
        .search__form {
            .form__content {
                .search__input {
                    width: 60%;
                }
                .search__button {
                    width: 40%;
                }
            }
        }
    }

    /* === Post === */
    .reading {
        .row-reading {
            flex-direction: column;

            .article {
                flex-basis: 100%;

                .title__article {
                    font-size: 0.8rem;
                }

                .data__article {
                    flex-direction: column;

                    .data__img {
                        width: 100%;
                    }

                    .data_list {
                        margin-top: 20px;
                        margin-left: 0px;

                        .data_disc {
                            margin-top: 10px;
                        }
                    }
                }

                .data_tracklist {
                    margin-top: 20px;
                }

                .data__article--vivramos {
                    .data__img {
                        width: 100%;
                    }
                }
            }

            .sidebar {
                max-width: 100%;
                margin-top: 5px;
            }
        }
    }

    /* === Learning === */
    .learning {
        .video__learning {
            flex-basis: 100%;
            height: 100%;
            overflow-y:unset;
            .video {
                .frame {
                    padding: 0px;
                    height: 280px;
                }
                .material__info {
                    padding: 20px;
                }
            }
        }

        .video__list {
            height: 100%;
            flex-basis: 100%;
            overflow-y:unset;
        }

    }

    /* === PreFooter === */
    .prefooter {
        text-align: start;
    }


    /* === Contacto === */
    .contacto {
        .box__contact {
            .form__contact {
                .form-buttom {
                    input {
                        padding: 15px 20px 15px 20px;
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }
    

}
