/* =================================== ViewPort ===================================== */
/* ================================================================================== */

/* Colores */
$OrginalBlue: #000d81;
$OriginalOrange: #df5925;


/* viewport 900 */

@media (max-width:900px) {
    #header {
        .desk__list {
            display: none;
        }
        
        .bars {
            display: block;
        }
    }
}
