/* ================================ Global Styles =================================== */
/* ================================================================================== */
/* Colores */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #121f3d;
}

.clearfix {
  clear: both;
  float: none;
}

/* === Scrollbar Design Navegacion === */
/* width */
.scrollbar-list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollbar-list::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollbar-list::-webkit-scrollbar-thumb {
  background: #df5925;
}

/* Handle on hover */
.scrollbar-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* === Overally Panel === */
.overally-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9000;
  background: rgba(0, 0, 0, 0.5);
}

.borderline {
  border: 3px solid #24385b;
  border-radius: 10px;
  padding: 15px 0px 15px 0px;
}

.active__link {
  color: #df5925 !important;
}

/* === File + Col Control === */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex: 0 0 24%;
}

.col-2 {
  flex: 0 0 25%;
}

.col-3 {
  flex: 0 0 33%;
  width: 33%;
}

.col-6 {
  flex: 0 0 49%;
}

.col-10 {
  flex: 0 0 75%;
}

.col-12 {
  flex: 0 0 100%;
}

.card__link {
  text-decoration: none;
}

/* === Post Readin Flex === */
.row-reading {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* === Post Readin Flex === */
.row-deejays {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* === Post Readin Flex === */
.row-news {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-prefooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* === Scrollbar VIDEO Navegacion Iframe Section === */
/* width */
.scrollbar-videoframe::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.scrollbar-videoframe::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.scrollbar-videoframe::-webkit-scrollbar-thumb {
  background: #40587c;
}

/* Handle on hover */
.scrollbar-videoframe::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ================================= Fonts Styles =================================== */
/* ================================================================================== */
@font-face {
  font-family: "Merriweather-Sans Bold";
  src: url("../fonts/MerriweatherSans/static/MerriweatherSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* ================================ Header Styles =================================== */
/* ================================================================================== */
/* Colores */
#header {
  padding: 0px 40px 0px 40px;
  background: #000d81;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#header .logo {
  flex-grow: 1;
  flex-basis: 20%;
  max-width: 150px;
}
#header .logo img {
  width: 100%;
  height: auto;
}
#header .bars {
  display: none;
  color: #ffffff;
  font-size: 24px;
  cursor: pointer;
}
#header .bars:hover {
  color: #df5925;
}
#header .desk__list {
  flex-grow: 1;
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
#header .desk__list .desk__list__button {
  display: block;
  list-style: none;
  padding-right: 10px;
  padding-left: 10px;
}
#header .desk__list .desk__list__button:hover .desk__list_show {
  display: block;
  animation: openShow 300ms linear;
  border-top: 2px solid red;
}
@keyframes openShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#header .desk__list .desk__link {
  display: block;
  line-height: 45px;
  font-family: "Merriweather-Sans Bold", sans-serif;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  transition: all 400ms;
}
#header .desk__list .desk__link:hover {
  color: #df5925;
}
#header .desk__list .desk__list_show {
  display: none;
  position: absolute;
  background: #000d81;
  margin-left: -10px;
  width: 200px;
  z-index: 5000;
}
#header .desk__list .desk__list_show .desk__list--inside {
  list-style: none;
  border-bottom: 1px solid grey;
}
#header .desk__list .desk__list_show .desk__list--inside:last-child {
  border-bottom: none;
}
#header .desk__list .desk__list_show .desk__link--inside {
  padding-left: 10px;
  padding-right: 10px;
  transition: all 500ms;
}
#header .desk__list .desk__list_show .desk__link--inside:hover {
  background: lightblue;
}

/* =============================== Menu Navegation ================================== */
/* ================================================================================== */
/* Colores */
.nav {
  width: 300px;
  position: fixed;
  top: 0px;
  left: -350px;
  z-index: 10000;
  background: #ffffff;
  transition: all 500ms;
}
.nav .nav__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px 11px 20px;
  border-bottom: 2px solid #df5925;
  background: #000d81;
}
.nav .nav__header .nav__title {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.nav .nav__header .nav__icon {
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}
.nav .nav__header .nav__icon:hover {
  color: #df5925;
}
.nav .list {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 50px;
}
.nav .list .nav__link {
  display: block;
  font-family: "Merriweather-Sans Bold", sans-serif;
  font-size: 14px;
  text-decoration: none;
  padding: 15px 0;
  transition: all 300ms;
}
.nav .list .nav__link:hover {
  color: #df5925;
}
.nav .list .list__button {
  list-style: none;
  width: 100%;
  padding-left: 20px;
  overflow: hidden;
}
.nav .list .list__button--click {
  cursor: pointer;
}
.nav .list .list__show {
  width: 95%;
  margin-left: auto;
  border-left: 2px solid #cccccc;
  list-style: none;
  transition: height 400ms;
  height: 0px;
}
.nav .list .list__show .nav__link--inside {
  padding-left: 20px;
  text-align: left;
  transition: all 300ms;
}
.nav .list .list__show .nav__link--inside:hover {
  background: #e1ffff;
}

.visible {
  left: 0px;
}

/* ================================= Main Styles ==================================== */
/* ================================================================================== */
/* Colores */
.content {
  margin: 0px auto;
  max-width: 1240px;
  padding: 0px 20px 0px 20px;
}

/* === Search Section === */
.search {
  background: linear-gradient(144deg, #fd6585 0%, #0d25b9 100%);
}
.search .search__form {
  padding: 30px 0px 30px 0px;
}
.search .search__form .form__content {
  display: flex;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
}
.search .search__form .form__content .search__input {
  display: block;
  border: none;
  padding: 10px;
  width: 80%;
  border-radius: 5px 0px 0px 5px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  background: #eff3f8;
}
.search .search__form .form__content .search__input:focus {
  box-shadow: 0px 0px 8px 2px #cccccc inset;
  outline: none;
}
.search .search__form .form__content .search__button {
  display: block;
  margin-left: 5px;
  width: 20%;
  border: none;
  background: #cccccc;
  cursor: pointer;
  color: #000d81;
  border-radius: 0px 5px 5px 0px;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.search .search__form .form__content .search__button:hover {
  color: #ffffff;
  background: #df5925;
}

/* === News Section === */
.news {
  margin-top: 40px;
  margin-bottom: 40px;
}
.news .news-box {
  padding: 20px;
  border: 3px solid #24385b;
  border-radius: 8px;
}
.news .news-box::after {
  display: block;
  position: absolute;
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
  content: "NOTICIAS";
  top: 175px;
  color: white;
  padding: 5px 15px 5px 15px;
  background: #121f3d;
}
.news .card__new {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #24385b;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px;
}
.news .card__new .news__img {
  width: 200px;
  height: 100px;
  overflow: hidden;
  border: 5px;
  margin-bottom: 0px;
}
.news .card__new .news__img img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .news .card__new .news__img img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.news .card__new .news__title {
  margin-left: 10px;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  color: #eff3f8;
  margin-top: 5px;
}
.news .card__new:hover {
  background: #40587c;
}

/* === Cards Old Control === */
.cards__title {
  font-family: "Lato-Bold", sans-serif;
  text-align: center;
  margin-bottom: 40px;
  color: #eff3f8;
}
.cards__title h1 {
  font-size: 26px;
  margin-bottom: 5px;
}
.cards__title p {
  font-weight: 100;
  font-size: 16px;
}

/* === Cards Vivramos Control === */
.cards__vivramos {
  margin-top: 20px;
}
.cards__vivramos .vivramos__card {
  background: #24385b;
  border-radius: 10px;
  overflow: hidden;
  transition: all 300ms;
  margin-bottom: 30px;
}
.cards__vivramos .vivramos__card .card__image {
  padding: 8px;
  overflow: hidden;
  line-height: 0;
  transition: all 300ms;
}
.cards__vivramos .vivramos__card .card__image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cards__vivramos .vivramos__card .card__info {
  padding: 5px 8px 13px 8px;
  overflow: hidden;
}
.cards__vivramos .vivramos__card .card__info p {
  display: block;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  letter-spacing: 2px;
  font-size: 16px;
  color: #eff3f8;
}
.cards__vivramos .vivramos__card:hover {
  background: #40587c;
  transform: translateY(-20px);
}
.cards__vivramos .vivramos__card:hover .card__image {
  background: linear-gradient(0deg, #40587c, #F433FF);
}

/* === Cards Discos Control === */
.cards__discos {
  margin-top: 20px;
}
.cards__discos .card__disco {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 20px;
  background: #24385b;
  border-radius: 10px;
  overflow: hidden;
  transition: all 300ms;
  border-right: 10px solid #1589FF;
}
.cards__discos .card__disco .card__image {
  max-width: 100px;
  padding: 8px;
  overflow: hidden;
  line-height: 0;
}
.cards__discos .card__disco .card__image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.cards__discos .card__disco .card__info {
  padding: 5px 8px 13px 8px;
  overflow: hidden;
  color: #eff3f8;
}
.cards__discos .card__disco .card__info .artist {
  display: block;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 24px;
}
.cards__discos .card__disco .card__info .namedisc {
  display: block;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
}
.cards__discos .card__disco:hover {
  background: #40587c;
  border-right: 10px solid #F433FF;
  transform: translateY(-10px);
}

/* === Cards Deejays Control Zone === */
.cards__deejays {
  margin-top: 20px;
}
.cards__deejays .deejay__card {
  text-decoration: none;
  background: #24385b;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cards__deejays .deejay__card .card__img {
  min-width: 250px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
}
.cards__deejays .deejay__card .card__img img {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .cards__deejays .deejay__card .card__img img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.cards__deejays .deejay__card .card__info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.cards__deejays .deejay__card .card__info a {
  text-decoration: none;
}
.cards__deejays .deejay__card .card__info .card__info--title {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
  color: #eff3f8;
}
.cards__deejays .deejay__card .card__info .card__info--title:hover {
  color: #df5925;
}
.cards__deejays .deejay__card .card__info .card__info--description {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  color: #eff3f8;
}
.cards__deejays .deejay__card:hover {
  background: #40587c;
}

/* === Reading Post Control === */
.reading {
  margin-top: 40px;
  margin-bottom: 40px;
}
.reading .article {
  flex-grow: 1;
  flex-basis: 75%;
  margin-right: 10px;
  /* === Dato Articulo Vivramos === */
  /* === Button Downloads === */
}
.reading .article .title__article {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 20px;
  color: #eff3f8;
}
.reading .article .title__article h1 {
  text-align: center;
}
.reading .article .data__article {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
.reading .article .data__article .data__img {
  width: 350px;
}
.reading .article .data__article .data__img img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.reading .article .data__article .data_list {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.reading .article .data__article .data_list .title {
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  color: #eff3f8;
  margin-bottom: 15px;
  border-bottom: 3px solid #eff3f8;
}
.reading .article .data__article .data_list .data_disc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.reading .article .data__article .data_list .data_disc li {
  list-style: none;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  color: #eff3f8;
  margin-bottom: 10px;
}
.reading .article .data__article .data_list .data_disc li b {
  margin-right: 10px;
}
.reading .article .data__article .data_list .data_disc li i {
  margin-right: 10px;
}
.reading .article .data_tracklist {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.reading .article .data_tracklist .title {
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  color: #eff3f8;
  border-bottom: 6px double #eff3f8;
}
.reading .article .data_tracklist .tracklist {
  margin-top: 20px;
  color: #eff3f8 !important;
}
.reading .article .data__article--vivramos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reading .article .data__article--vivramos .data__img {
  width: 400px;
}
.reading .article .data__article--vivramos .data__img img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.reading .article .data_tracklist--vivramos {
  margin-top: 40px;
  color: #eff3f8 !important;
}
.reading .article .data__download {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.reading .article .data__download .btn-new-download-grad {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #1589FF;
  background: #1589FF;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
  color: #eff3f8;
  z-index: 1;
  text-decoration: none;
}
.reading .article .data__download .btn-new-download-grad:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.reading .article .data__download .btn-new-download-grad:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #F433FF;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.reading .article .data__download .btn-new-download-grad:hover {
  color: #24385b;
  border: 1px solid #F433FF;
}
.reading .article .data__download .btn-new-download-grad:hover:before {
  top: -35%;
  background-color: #F433FF;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.reading .article .data__download .btn-new-download-grad:hover:after {
  top: -45%;
  background-color: #F433FF;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.reading .sidebar {
  flex-grow: 1;
  flex-basis: 20%;
  margin-left: 10px;
}
.reading .sidebar .sidebar__banner {
  width: 100%;
}
.reading .sidebar .sidebar__banner img {
  width: 100%;
  height: auto;
}
.reading .sidebar .sidebar__card {
  margin-top: 20px;
}

/* === Coments Box === */
.comments__box {
  background: #40587c;
  border-radius: 5px;
}
.comments__box .title__coments {
  font-family: "Lato-Bold", sans-serif;
  font-size: 20px;
  color: #eff3f8;
  border-bottom: 2px solid #cccccc;
  padding: 10px;
}
.comments__box .f-content {
  padding: 20px;
  color: #eff3f8;
}

/* === Learning (Cursos) Control === */
.learning {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.learning .video__learning {
  flex-grow: 1;
  flex-basis: 60%;
  height: calc(100vh - 45px);
  overflow-y: scroll;
}
.learning .video__learning .video {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.learning .video__learning .video .frame {
  min-width: 100%;
  height: 500px;
  overflow: hidden;
}
.learning .video__learning .video .frame iframe {
  width: 100%;
  height: auto;
}
@supports (object-fit: cover) {
  .learning .video__learning .video .frame iframe {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.learning .video__learning .video .material__info {
  padding: 40px;
  width: 100%;
}
.learning .video__learning .video .material__info .info__description h1 {
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
  color: #eff3f8;
  margin-bottom: 15px;
  margin-top: 10px;
  padding-bottom: 4px;
  border-bottom: 2px solid #40587c;
}
.learning .video__learning .video .material__info .info__description p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  color: #eff3f8;
  margin-top: 5px;
  margin-bottom: 10px;
}
.learning .video__learning .video .material__info .info__description a {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #eff3f8;
  margin-top: 5px;
}
.learning .video__learning .video .material__info .info__description a:hover {
  color: #df5925;
}
.learning .video__list {
  flex-grow: 1;
  flex-basis: 40%;
  height: calc(100vh - 45px);
  overflow-y: scroll;
}
.learning .video__list .list {
  padding: 15px 15px 50px 15px;
}
.learning .video__list .list h1 {
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
  color: #eff3f8;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 2px solid #40587c;
}
.learning .video__list .list .list--curso {
  background: #24385b;
  border-radius: 5px;
  padding: 10px;
}
.learning .video__list .list .list--curso .curso__link {
  list-style: none;
  margin-bottom: 5px;
}
.learning .video__list .list .list--curso .curso__link a {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: #eff3f8;
  margin-top: 5px;
}
.learning .video__list .list .list--curso .curso__link a:hover {
  color: #df5925;
}

/* === Section About Us === */
.about {
  margin-top: 40px;
}
.about .about__info {
  padding: 15px;
  border-radius: 10px;
  background: #40587c;
  color: #eff3f8;
}
.about .about__info li {
  margin-left: 30px;
}

/* === Section Contact === */
.contacto {
  margin-top: 40px;
}
.contacto .box__contact .alert {
  background: #5da732;
  padding: 15px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  color: #eff3f8;
  margin-bottom: 40px;
  border-radius: 10px;
}
.contacto .box__contact .alert-succes {
  background: #5da732;
}
.contacto .box__contact .alert-danger {
  background: #c90c0c;
}
.contacto .box__contact h1 {
  font-family: "Lato-Bold", sans-serif;
  font-size: 24px;
  color: #eff3f8;
  text-align: center;
  margin-bottom: 40px;
}
.contacto .box__contact .form__contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contacto .box__contact .form__contact .form-group {
  margin-bottom: 20px;
}
.contacto .box__contact .form__contact .form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
}
.contacto .box__contact .form__contact .form-group textarea {
  width: 100%;
  height: 200px;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 16px;
  resize: none;
}
.contacto .box__contact .form__contact .form-group input:focus {
  box-shadow: 0px 0px 8px 2px #cccccc inset;
  outline: none;
}
.contacto .box__contact .form__contact .form-group textarea:focus {
  box-shadow: 0px 0px 8px 2px #cccccc inset;
  outline: none;
}
.contacto .box__contact .form__contact .form-buttom {
  text-align: center;
  margin-top: 40px;
}
.contacto .box__contact .form__contact .form-buttom input {
  padding: 15px 80px 15px 80px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 18px;
  letter-spacing: 3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background: #cccccc;
}
.contacto .box__contact .form__contact .form-buttom input:hover {
  color: #ffffff;
  background: #df5925;
}

/* == Pagination Web === */
.paginacion {
  text-align: center;
}
.paginacion .pagination {
  height: 36px;
  margin: 18px 0;
}
.paginacion .pagination ul {
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 0;
  margin-left: 0;
}
.paginacion .pagination li {
  display: inline;
}
.paginacion .pagination a {
  color: #ffffff;
  border: 1px solid #24385b;
  float: left;
  line-height: 34px;
  padding: 0 14px;
  text-decoration: none;
  background: #1589FF;
}
.paginacion .pagination a:hover, .paginacion .pagination .active a {
  background-color: #df5925;
}
.paginacion .pagination .active a {
  color: #ffffff;
  cursor: default;
}
.paginacion .pagination .disabled a, .paginacion .pagination .disabled a:hover {
  background-color: transparent;
  color: #999999;
  cursor: default;
}
.paginacion .pagination li:first-child a {
  border-left-width: 1px;
  border-radius: 3px 0 0 3px;
}
.paginacion .pagination li:last-child a {
  border-radius: 0 3px 3px 0;
}
.paginacion .pagination-centered {
  text-align: center;
}
.paginacion .pagination-right {
  text-align: right;
}

/* ================================ Footer Styles =================================== */
/* ================================================================================== */
/* Colores */
.prefooter {
  margin-top: 60px;
  padding: 30px 0px 30px 0px;
  background: #24385b;
}
.prefooter h3 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #eff3f8;
  margin-bottom: 15px;
}
.prefooter p {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #cccccc;
  margin-bottom: 8px;
}
.prefooter i {
  padding-right: 15px;
}
.prefooter .prefooter__links ul li {
  list-style: none;
  margin-bottom: 8px;
}
.prefooter .prefooter__links ul a {
  text-decoration: none;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 100;
  font-size: 14px;
  color: #cccccc;
}
.prefooter .prefooter__links ul a:hover {
  color: #df5925;
}

.footer .info {
  font-family: "Lato-Bold", sans-serif;
  font-size: 14px;
  padding: 10px;
  color: #ffffff;
  background: #000d81;
  text-align: center;
}
.footer .info .info__link {
  text-decoration: none;
  color: greenyellow;
}
.footer .info .info__link:hover {
  color: #df5925;
}

/* =================================== ViewPort ===================================== */
/* ================================================================================== */
/* Colores */
/* viewport 900 */
@media (max-width: 900px) {
  #header {
    padding: 0px 20px 0px 20px;
  }
  #header .desk__list {
    display: none;
  }
  #header .bars {
    display: block;
  }

  /* === File + Col Control === */
  .row {
    justify-content: space-evenly;
  }

  .col {
    flex: 0 0 45%;
  }

  .col-6 {
    flex: 0 0 100%;
  }

  /* === Post === */
  .reading .row-reading {
    flex-direction: column;
  }
  .reading .row-reading .article {
    flex-basis: 100%;
    margin-right: 0px;
  }
  .reading .row-reading .article .title__article {
    font-size: 0.9rem;
  }
  .reading .row-reading .sidebar {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 0px;
    margin-top: 20px;
  }

  /* === Card Deejays === */
  .cards__deejays .deejay__card {
    flex-direction: column;
  }
  .cards__deejays .deejay__card .card__img {
    width: 100%;
    height: auto;
  }
  .cards__deejays .deejay__card .card__info {
    margin-top: 20px;
    margin-left: 0px;
  }

  .col-3 {
    flex: 0 0 100%;
  }

  .news .card__new {
    margin-bottom: 20px;
  }
  .news .card__new:last-child {
    margin-bottom: 0px;
  }

  /* === Learning === */
  .learning .video__learning {
    flex-basis: 50%;
  }
  .learning .video__learning .video .frame {
    height: 300px;
  }
  .learning .video__learning .video .material__info {
    padding: 20px;
  }
  .learning .video__list {
    flex-basis: 50%;
  }

  /* === PreFooter === */
  .prefooter {
    text-align: center;
  }
  .prefooter .prefooter__contacto {
    margin-top: 20px;
  }
  .prefooter .prefooter__links {
    margin-top: 20px;
  }
}
/* viewport 576 */
@media (max-width: 576px) {
  /* === File + Col Control === */
  .row {
    justify-content: space-between;
  }

  .col {
    flex: 0 0 100%;
  }

  /* === Search Section === */
  .search .search__form .form__content .search__input {
    width: 60%;
  }
  .search .search__form .form__content .search__button {
    width: 40%;
  }

  /* === Post === */
  .reading .row-reading {
    flex-direction: column;
  }
  .reading .row-reading .article {
    flex-basis: 100%;
  }
  .reading .row-reading .article .title__article {
    font-size: 0.8rem;
  }
  .reading .row-reading .article .data__article {
    flex-direction: column;
  }
  .reading .row-reading .article .data__article .data__img {
    width: 100%;
  }
  .reading .row-reading .article .data__article .data_list {
    margin-top: 20px;
    margin-left: 0px;
  }
  .reading .row-reading .article .data__article .data_list .data_disc {
    margin-top: 10px;
  }
  .reading .row-reading .article .data_tracklist {
    margin-top: 20px;
  }
  .reading .row-reading .article .data__article--vivramos .data__img {
    width: 100%;
  }
  .reading .row-reading .sidebar {
    max-width: 100%;
    margin-top: 5px;
  }

  /* === Learning === */
  .learning .video__learning {
    flex-basis: 100%;
    height: 100%;
    overflow-y: unset;
  }
  .learning .video__learning .video .frame {
    padding: 0px;
    height: 280px;
  }
  .learning .video__learning .video .material__info {
    padding: 20px;
  }
  .learning .video__list {
    height: 100%;
    flex-basis: 100%;
    overflow-y: unset;
  }

  /* === PreFooter === */
  .prefooter {
    text-align: start;
  }
}
/* Gestion de Ficheros SASS */

/*# sourceMappingURL=styles.css.map */
